<div id="bookshelf-form" class="fd-form">
  <%= form_for [@user, @bookshelf] do |f| %>

    <%= f.label :name, t(".bookshelf_name") %>
    <%= f.text_field :name, placeholder: t(".bookshelf_name") %>
    
    <%= f.label :description, t(".description") %>
    <%= f.text_area :description, placeholder: t(".write_a_short_description_of_this_bookshelf") %>

    <%# Submit button string will change depending on the action name (edit, new, etc.)%>
    <%= f.submit t(".submit.#{action_name}") %>
    
  <% end %>

  <% if action_name == "edit" %>
    <%= link_to t(".delete_bookshelf"), bookshelf_path(@bookshelf), method: :delete, data: { confirm: t(".are_you_sure_you_want_to_delete_this_bookshelf") }, class: "delete-button" %>
  <% end %>
</div>
