<div id="bookshelf-form" class="fd-form">
  <%= form_for [@user, @bookshelf] do |f| %>

    <%= f.label :name, t(".bookshelf_name") %>
    <%= f.text_field :name, placeholder: t(".bookshelf_name") %>
    
    <%= f.label :description, t(".description") %>
    <%= f.text_area :description, placeholder: t(".write_a_short_description_of_this_bookshelf") %>

    <%# Submit button string will change depending on the action name (edit, new, etc.)%>
    <%= f.submit t(".submit.#{action_name}") %>
    
  <% end %> 
</div>
