<article id="rules">
  <h1>Rules</h1>

  <section id="rules-intro">
    <h2>Introduction</h2>
    <%= render 'intro' %>
  </section>

  <section id="rules-stories">
    <h2>Stories and their content</h2>
    <%= render 'stories' %>
  </section>

  <section id="rules-legal">
    <h2>Legal</h2>
    <%= render 'legal' %>
  </section>

  <section id="rules-franchises">
    <h2>Franchises</h2>
    <%= render 'franchises' %>
  </section>

  <section id="rules-characters">
    <h2>Characters</h2>
    <%= render 'characters' %>
  </section>

  <section id="rules-ships">
    <h2>Ships</h2>
    <%= render 'ships' %>
  </section>
  
  <section id='rules-community'>
    <h2>Community</h2>
    <%= render 'community' %>
  </section>
</article>
