<div class="notifications-flyout-header">
  <p><%= link_to t(".notifications"), notifications_path %></p>
  <p id="mark-all-as-read"><%= t(".mark_all_as_read") %></p>
</div>

<ul class="notifications">
  <% if !current_user.notifications.unread.empty? %>
    <%= render 'notifications/notifications', notifications: current_user.notifications.unread %>

    <p hidden class="fd-list-empty-note"><%= t(".no_unread_notifications") %></p>
  <% else %>
    <p class="fd-list-empty-note"><%= t(".no_unread_notifications") %></p>
  <% end %>
</ul>
