<li class="notification-item" data-id="<%= notification.id %>" data-subjectpath="<%= polymorphic_path(notification.subject) %>">
  <div class="notification-body">
    <%= render "notifications/#{notification.event}", note: notification %>
  </div>
  <div class="notification-time">
    <%= t("time_ago", time: time_ago_in_words(notification.created_at)) %>
  </div>

  <% unless notification.read? %>
    <div class="mark-as-read">
      <span class="icon icon-check" title="<%= t('.mark_as_read') %>"></span>
    </div>
  <% end %>
</li>
