<%- title @user.name %>

<div id="user-page" class="fd-text-container">
  <div class="user-header">
    <h2 class="display-name"><%= @user.name %></h2>

    <% if @user.level === "admin" %>
      <div class="user-badge">
        <p><%= t(".admin") %></p>
      </div>
    <% elsif @user.level === "mod" %>
      <div class="user-badge">
        <p><%= t(".moderator") %></p>
      </div>
    <% end %>
    
  </div>

  <div class="user-subheader">
    <p class="username"><%= t(".at_username", username: @user.name) %></p> ·
    <p class="joined-on"><%= t(".joined_on", date: pretty_date(@user.created_at)) %></p>
  </div>

  <%# If the user has at least one published story, display them to all users. %>
  <% if !@stories.blank? %>
    <ul id="user-story-list" class="fd-list">
      <%= render partial: 'stories/story_stub', collection: @stories, as: :story %>
    </ul>

  <%# If the user has any stories, published or otherwise, and is on their own userpage, display those stories. %>
  <% elsif !@user.stories.blank? && current_user === @user %>
    <ul id="user-story-list" class="fd-list">
      <%= render partial: 'stories/story_stub', collection: @user.stories, as: :story %>
    </ul>

  <%# If the user has no published stories, or no stories at all if logged-in, display a message saying as much. %>
  <% else %>
    <p class="fd-list-empty-note"><%= t(".this_user_hasn't_published_anything_yet") %></p>
  <% end %>

</div>
