<%- title @user.name %>

<div class="fd-text-container">
  <h2><%= @user.name %></h2>
  
  <% if @user.level === "admin" %>
    <%= t(".admin") %>
  <% elsif @user.level === "mod" %>
    <%= t(".moderator") %>
  <% end %>

  <%= t(".joined_on", date: pretty_date(@user.created_at)) %>

  <% if @user.stories.count > 0 %>
    <ul id="user-story-list" class="fd-list">
      <%= render partial: 'stories/story_stub', collection: @user.stories, as: :story %>
    </ul>
  <% else %>
    <p><%= t(".this_user_hasn't_published_anything_yet") %></p>
  <% end %>

</div>
