<%- title @user.name %>

<div id="user-page" class="fd-text-container">
  <div class="user-header">
    <h2 class="display-name"><%= @user.name %></h2>

    <% if @user.level === "admin" %>
      <div class="user-badge">
        <p><%= t(".admin") %></p>
      </div>
    <% elsif @user.level === "mod" %>
      <div class="user-badge">
        <p><%= t(".moderator") %></p>
      </div>
    <% end %>
    
  </div>

  <div class="user-subheader">
    <p class="username"><%= t(".at_username", username: @user.name) %></p> ·
    <p class="joined-on"><%= t(".joined_on", date: pretty_date(@user.created_at)) %></p>
  </div>


  <ul data-tabs="true" class="fd-tabs">
    <% if current_user === @user %>
      <li data-tab="tab-1" class="fd-tabs-tab current"><%= t(".published") %>
    <% else %>
      <li data-tab="tab-1" class="fd-tabs-tab current"><%= t(".stories") %>
    <% end %>
    
    <%# Only display drafts if the user owns the page. %>
    <% if current_user === @user %>
      <li data-tab="tab-2" class="fd-tabs-tab"><%= t(".drafts") %>
    <% end %>

    <li data-tab="tab-3" class="fd-tabs-tab"><%= t(".favorites") %>
    <li data-tab="tab-4" class="fd-tabs-tab"><%= t(".bookshelves") %>
  </ul>

  <div class="tab-content tc-tab-1 fd-tab-content current">
    <%# If the user has at least one published story, display them to all users. %>
    <% unless @published.blank? %>
      <ul id="user-story-list" class="fd-list">
        <%= render partial: 'stories/story_stub', collection: @published, as: :story %>
      </ul>

    <%# If the user has no published stories, or no stories at all if logged-in, display a message saying as much. %>
    <% else %>
      <p class="fd-list-empty-note"><%= t(".this_user_hasn't_published_anything_yet") %></p>
    <% end %>
  </div>

  <%# Only display drafts if the user owns the page. %>
  <% if current_user === @user %>
    <div class="tab-content tc-tab-2 fd-tab-content">
      <% unless @drafts.blank? %>
        <ul class="fd-list">
          <%= render partial: 'stories/story_stub', collection: @drafts, as: :story %>
        </ul>
      <% end %>
    </div>
  <% end %>
  
  <div class="tab-content tc-tab-3 fd-tab-content">
    <% unless @favorites.blank? %>
      <ul class="fd-list">
        <%= render partial: 'stories/story_stub', collection: @favorites, as: :story %>
      </ul>
    <% end %>
  </div>

  <div class="tab-content tc-tab-4 fd-tab-content">
    <% unless @bookshelves.blank? %>
      <ul class="fd-list">
        <%= render partial: 'bookshelves/bookshelf', collection: @bookshelves, as: :bookshelf %>
      </ul>
    <% end %>
  </div>

</div>
