<%- title @user.name %>

<div id="user-page" class="fd-text-container">
  <div class="user-header">
    <h2 class="display-name"><%= @user.name %></h2>

    <% if @user.level === "admin" %>
      <div class="user-badge">
        <p><%= t(".admin") %></p>
      </div>
    <% elsif @user.level === "mod" %>
      <div class="user-badge">
        <p><%= t(".moderator") %></p>
      </div>
    <% end %>
    
  </div>

  <div class="user-subheader">
    <p class="username"><%= t(".at_username", username: @user.name) %></p> ·
    <p class="joined-on"><%= t(".joined_on", date: pretty_date(@user.created_at)) %></p>
  </div>

  <% if @user.stories.count > 0 %>
    <ul id="user-story-list" class="fd-list">
      <%= render partial: 'stories/story_stub', collection: @user.stories.for_display, as: :story %>
    </ul>
  <% else %>
    <p><%= t(".this_user_hasn't_published_anything_yet") %></p>
  <% end %>

</div>
