<% if @story.errors.size > 0 %>
  <h1>Record could not be saved</h1>
  <%= @story.inspect %>
  <%= params.inspect %>
  <ul>
    <% @story.errors.full_messages do |e| %>
      <li> <%= e %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @story do |f| %>
  <div id="franchise-input-box" contenteditable>
  </div>
  <ul id="franchise-input-suggest-box">
  </ul>
  <div id="story-franchises-forms-container">
    <% @story.franchises.pluck(:id).each do |i| %>
      <%# rails hack to make this work %>
      <input type="hidden" name="story[franchise_ids][]" value="<%= i %>">
    <% end %>
  </div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :blurb %> 
  <%= f.text_area :blurb %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit %>
<% end %> 

