<div id="story-form" class="fd-form" data-story-id="<%= @story.id %>">
  <%= form_for @story do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name, id: "story-name-field" %>
    
    <div class="select-container">
      <%= f.label :language %>
      <%= f.select :language, options_for_select(Story.language_attributes_for_select, @story.language), {}, { class: "custom-select", id: "story-language-select" } %>
    </div>

    <div class="select-container">
      <%= f.label :license %>
      <%= f.select :license, options_for_select(Story.license_attributes_for_select, @story.license), {}, { class: "custom-select", id: "story-license-select" } %>
    </div>
    
    <%= f.label :blurb %>
    <%= f.text_area :blurb, id: "story-blurb-field" %>

    <%= f.label :description %>
    <%= f.text_area :description, id: "story-description-field" %>

  <% end %> 
</div>
