<div id="story-form" class="fd-form" data-story-id="<%= @story.id %>">
  <%= form_for @story do |f| %>
    
    <div class="field-container">
      <%= f.label :name, t(".story_name") %>
      <%= f.text_field :name, id: "story-name-field", placeholder: t(".story_name"), autocomplete: "off" %>
    </div>

    <div class="select-container">
      <%= f.label :language, t(".language") %>
      <%= f.select :language, options_for_select(Story.language_attributes_for_select, @story.language), {}, { class: "custom-select", id: "story-language-select" } %>
      <span class="icon icon-down"></span>
    </div>

    <div class="select-container">
      <%= f.label :license, t(".license") %>
      <%= f.select :license, options_for_select(Story.license_attributes_for_select, @story.license), {}, { class: "custom-select", id: "story-license-select" } %>
      <span class="icon icon-down"></span>
    </div>
    
    <div class="field-container">
      <%= f.label :blurb, t(".blurb") %>
      <%= f.text_field :blurb, id: "story-blurb-field", placeholder: t(".write_a_very_short_description_of_the_story"), autocomplete: "off" %>
    </div>

    <div class="field-container">
      <%= f.label :description, t(".description") %>
      <%= f.text_area :description, id: "story-description-field", placeholder: t(".write_a_description_of_the_story") %>
    </div>

    <%= react_component('ReactFormElements', props={
      franchises: @story.franchises,
      franchises_elementid: "franchises-input",
      franchises_label: t(".franchises"),
      franchises_placeholder: t(".franchise"),
      franchise_add: t(".add_a_new_franchise"),
      characters: @story.characters,
      characters_elementid: "characters-input",
      characters_label: t(".characters"),
      characters_placeholder: t(".characters"),
      character_add: t(".add_a_new_character"),
      submit: t(".submit.#{action_name}"),
      submit_elementid: "story-form-submit"
    }, id: "react-form-elements") %>

  <% end %>
</div>
