<%- title @story.name %>

<div class="story-directory story-text-container story-text">

  <h2 class="story-title"><%= @story.name %></h2>
  <div class="story-information">
    <p><%= t(".written_by_html", author: link_to(@story.author.name, user_path(@story.author)) ) %> · <%= t(".published_on", date: @story.created_at.strftime("%B %e, %Y") ) %>
    <p><%= t("languages.#{@story.language}") %> · <%= t("licenses.#{@story.license}") %>
  </div>

  <p class="story-description"><%= @story.description %></p>

  <ul class="story-options">
    <% if current_user == @story.author %>
      <li><%= link_to t(".edit"), edit_story_path(@story) %></li>
      <% if @story.published %>
        <li>
        <%= button_to "Unpublish", unpublish_story_path(@story), method: :delete %>
        </li>
      <% elsif @story.publishable? %>
        <li>
        <%= button_to "Publish", publish_story_path(@story), method: :post %>
        </li>
      <% else %>
        <li>
        You cannot publish this story. Publish a chapter first.
        </li>
      <% end %>
    <% end %>

    <li><%= link_to t(".share"), "#" %></li>
    <li><%= link_to t(".report"), "#" %></li>
  </ul>

  <ol class="chapter-list">
    <%= render partial: 'chapter_stub', collection: policy_scope(@story.chapters), as: :chapter %>

    <% if current_user == @story.author %>
      <li class="add-new-chapter"><%= link_to t(".add_a_new_chapter"), new_story_chapter_path(@story) %></li>
    <% end %>
  </ol>

</div>
