<div class="story-directory story-text">

  <h2 class="story-title"><%= @story.name %></h2>
  <p class="story-description"><%= @story.description %></p>

  <ul class="story-options">
    <% if current_user == @story.author %>
      <li><%= link_to t(".edit"), edit_story_path(@story) %></li>
    <% end %>

    <li><%= link_to t(".share"), "#" %></li>
    <li><%= link_to t(".report"), "#" %></li>
  </ul>

  <ol class="chapter-list">
    <%= render partial: 'chapter_stub', collection: policy_scope(@story.chapters), as: :chapter %>

    <% if current_user == @story.author %>
      <li class="add-new-chapter"><%= link_to t(".add_a_new_chapter"), new_story_chapter_path(@story) %></li>
    <% end %>
  </ol>

</div>
