<div id="character-form" class="fd-form">
  <%= form_for [@franchise, @character] do |f| %>
    
    <%= f.label :name, t(".character_name") %>
    <%= f.text_field :name, placeholder: t(".character_name"), autocomplete: "off" %>

    <%= f.label :description, t(".description") %>
    <%= f.text_area :description, placeholder: t(".write_a_short_description_of_the_character") %>

    <%= f.submit %>

  <% end %> 
</div>