<%- title @character.name %>

<div id="character-toolbar-container" class="fd-toolbar-container">
  <div id="character-toolbar" class="fd-toolbar">
    <ul id="character-toolbar-left" class="fd-toolbar-left">
      <li class="important"><%= link_to @franchise.name, franchise_path(@franchise) %></li>
    </ul>

    <ul id="character-toolbar-right" class="fd-toolbar-right">
      <% if user_signed_in? %>
        <li><%= link_to t(".edit"), edit_franchise_character_path(@franchise, @character) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="fd-text-container fd-padding-top">

  <h2 class="fd-page-header"><%= @character.name %></h2>
  <div class="fd-page-subtitle"><%= markdown_parse @character.description %></div>

  <ul data-tabs="true" class="fd-tabs">
    <li data-tab="tab-1" class="fd-tabs-tab current"><%= t(".stories", count: @stories.count) %>
  <li data-tab="tab-2" class="fd-tabs-tab">Stats
  </ul>
  <div class="tab-content tc-tab-1 fd-tab-content current">
    <% unless @stories.blank? %>
      <ul id="character-story-list" class="fd-list">
        <%= render partial: 'stories/story_stub', collection: @stories, as: :story %>
      </ul>
    <% else %>
      <p class="fd-list-empty-note"><%= t(".this_character_hasn't_been_included_in_any_published_stories_yet") %></p>
    <% end %>
  </div>
  <div class="tab-content tc-tab-2 fd-tab-content">
    <div class="stats-section" id="stats-ship-frequency">

    </div>
  </div>
</div>
