<%- title @character.name %>

<div class="fd-text-container fd-padding-top">

  <p class="fd-page-backlink"><%= link_to @franchise.name, franchise_path(@franchise) %></p>

  <h2 class="fd-page-header"><%= @character.name %></h2>
  <div class="fd-page-subtitle"><%= markdown_parse @character.description %></div>

  <% if user_signed_in? %>
    <ul id="character-options" class="fd-page-options">
      <li><%= link_to t(".edit"), edit_franchise_character_path(@franchise, @character) %>
    </ul>
  <% end %>

  <% unless @stories.blank? %>
    <ul id="character-story-list" class="fd-list">
      <%= render partial: 'stories/story_stub', collection: @stories, as: :story %>
    </ul>
  <% else %>
    <p class="fd-list-empty-note"><%= t(".this_character_hasn't_been_included_in_any_published_stories_yet") %></p>
  <% end %>

</div>
