<div id="frontpage-container">

  <div id="frontpage-header">
    <h2 class="fiction-dock-logo logo-large">Fiction Dock</h2>

    <h5 class="subheader"><%= t(".fiction_dock_tagline") %></h5>
  </div>

  <%# If the user is signed in, and the user has at least one story, a list of the user's stories is displayed under the "Your stories" header. %>
  <% unless @current_user_stories.blank? %>
    <div class="frontpage-column">
      <ul id="frontpage-user-story-list" class="fd-list">
        <div class="frontpage-list-header"><%= t(".your_stories") %></div>

        <%= render partial: 'stories/story_stub', collection: @current_user_stories, as: :story %>
      </ul>
    </div>
  <% end %>

  <%# If at least one published story exists on the site, the stories will be displayed under the "Recently published stories" header. %>
  <% unless @recent_stories.blank? %>
    <div class="frontpage-column">
      <ul id="frontpage-recent-story-list" class="fd-list">
        <div class="frontpage-list-header"><%= t(".recently_published_stories") %></div>

        <%= render partial: 'stories/story_stub', collection: @recent_stories, as: :story %>
      </ul>
    </div>
  <% end %>

</div>
