<h2 class="fiction-dock-logo logo-large">Fiction Dock</h2>

<h5 class="subheader"><%= t(".fiction_dock_tagline") %></h5>

<div class="stats">
  <ul>
    <li><%= Franchise.count %><span><%= t(".franchises") %></span></li>
    <li><%= Story.count %><span><%= t(".stories") %></span></li>
    <li><%= Character.count %><span><%= t(".characters") %></span></li>
  </ul>
</div>
