<% @franchise.errors.each do |error| %>
  <%= error %>
<% end %> 

<div id="franchise-form" class="fd-form">
  <%= form_for @franchise do |f| %>

    <%= f.label :name, t(".franchise_title") %>
    <%= f.text_field :name, placeholder: t(".franchise_title"), autocomplete: "off" %>

    <%= f.label :description, t(".description") %>
    <%= f.text_area :description, placeholder: t(".write_a_short_description_of_the_franchise") %>
    
    <%# Submit button string will change depending on the action name (edit, new, etc.)%>
    <%= f.submit t(".submit.#{action_name}") %>

  <% end %>
</div>
