<%- title @franchise.name %>


<div id="franchise-toolbar-container" class="fd-toolbar-container">
  <div id="franchise-toolbar" class="fd-toolbar">
    <ul id="franchise-toolbar-left" class="fd-toolbar-left">
    </ul>

    <ul id="franchise-toolbar-right" class="fd-toolbar-right">
      <% if policy(@franchise).update? %>
        <li><%= link_to t(".edit"), edit_franchise_path(@franchise) %></li>
      <% end %>

      <li><%= link_to t(".add_a_new_character"), new_franchise_character_path(@franchise) %></li>
    </ul>
  </div>
</div>

<div class="fd-text-container fd-padding-top">

  <h2 class="fd-page-header"><%= @franchise.name %></h2>
  <div class="fd-page-subtitle"><%= markdown_parse @franchise.description %></div>

  <ul data-tabs="true" class="fd-tabs">
    <li data-tab="tab-1" class="fd-tabs-tab current"><%= t(".stories", count: @stories.count) %>
  <li data-tab="tab-2" class="fd-tabs-tab"><%= t(".characters", count: @franchise.characters.count) %>
  <li data-tab="tab-3" class="fd-tabs-tab">Stats
  </ul>

  <div class="tab-content tc-tab-1 fd-tab-content current">
    <% unless @stories.blank? %>
      <ul id="franchise-story-list" class="fd-list">

        <%= render partial: 'stories/story_stub', collection: @stories, as: "story" %>
      </ul>
    <% else %>
      <p class="fd-list-empty-note"><%= t(".no_stories_have_been_written_for_this_franchise_yet") %></p>
    <% end %>
  </div>

  <div class="tab-content tc-tab-2 fd-tab-content">
    <ul id="franchise-character-list" class="fd-list">
      <% @franchise.characters.each do |character| %>
        <li class="fd-list-item">
          <p class="fd-list-item-title"><%= link_to character.name, franchise_character_path(@franchise, character) %>

          <p class="fd-list-item-subtitle"><%= t(".stories_count", count: character.stories.for_display.count) %> 
          <% if !character.description.empty? %>
            · <%= character.description %>
          <% end %>

        </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-content tc-tab-3 fd-tab-content" data-callback="getFranchiseStats" data-json_url="<%= "#{stats_franchise_path @franchise}.json" %>">

  </div>
</div>
