<%- title @franchise.name %>

<div class="fd-text-container">

  <h2><%= @franchise.name %></h2>
  <div><%= markdown_parse @franchise.description %></div>

  <ul id="franchise-options" class="fd-page-options">
    <% if policy(@franchise).update? %>
      <li><%= link_to t(".edit"), edit_franchise_path(@franchise) %>
    <% end %>

    <li><%= link_to t(".add_a_new_character"), new_franchise_character_path(@franchise) %>
  </ul>

  <% @franchise.characters.each do |character| %>
    <%= link_to character.name, franchise_character_path(@franchise, character) %>

    <%= character.stories.count %>
  <% end %>

  <% if @franchise.stories.count > 0 %>
    <ul id="franchise-story-list" class="fd-list">
      <%= render partial: 'stories/story_stub',  collection: @franchise.stories.for_display, as: "story" %>
    </ul>
  <% else %>
    <p><%= t(".no_stories_have_been_written_for_this_franchise_yet") %></p>
  <% end %>

</div>
