<% @chapter.errors.full_messages.each do |err| %>
  <%= err %>
<% end %> 

<%= form_for [@story, @chapter] do |f| %>
  <div class="editor">
    <%= f.text_field :name, placeholder: t(".chapter_title"), autocomplete: "off" %>
    
    <div id="rich-text" class="story-text" data-placeholder="<%= t('.start_writing_here') %>">
      <% unless @chapter.body == nil %>
        <%= markdown_parse @chapter.body %>
      <% end %>
    </div>

    <%= f.text_area :body, id: "markdown" %>

    <hr>

    <%= f.submit t(".save") %>
  </div>
<% end %>
