<% @chapter.errors.full_messages.each do |err| %>
  <%= err %>
<% end %>

<div>
  <%= link_to "Switch to Rich Editor", url_for(editor: "rich_editor") %>
</div>

<%= form_for [@story, @chapter] do |f| %>
  <div class="editor plain-editor">
    <%= f.text_field :name, placeholder: t(".chapter_title"), autocomplete: "off" %>

    <%= f.text_area :body, id: "plain-text" %>

    <%= f.submit t(".save") %>
  </div>
<% end %>
