<% @chapter.errors.full_messages.each do |err| %>
  <%= err %>
<% end %>

<div>
  <%= link_to "Plain Editor", url_for(editor: "plain_editor") %>
  <%= link_to "Rich Editor", url_for(editor: "rich_editor") %>
</div>

<%= form_for [@story, @chapter] do |f| %>
  <div class="editor plain-editor">
    <%= f.text_field :name, placeholder: t(".chapter_title"), autocomplete: "off" %>

    <div id="plain-text-contenteditable" contenteditable="true"><%= @chapter.body %></div>

    <%= f.text_area :body, id: "plain-text-textarea" %>

    <%= f.submit t(".save"), id: "plain-editor-submit" %>
  </div>
<% end %>
