<% @chapter.errors.full_messages.each do |err| %>
  <%= err %>
<% end %>

<div>
  <%= link_to "Plain Editor", url_for(editor: "plain_editor") %>
  <%= link_to "Rich Editor", url_for(editor: "rich_editor") %>
</div>

<%= form_for [@story, @chapter] do |f| %>
  <div class="editor rich-editor">
    <%= f.text_field :name, placeholder: t(".chapter_title"), autocomplete: "off" %>
    
    <div id="rich-text" class="story-text chapter-body" data-placeholder="<%= t('.start_writing_here') %>" data-onbeforeunload="<%= t('.you_have_unsaved_changes') %>">
      <% unless @chapter.body == nil %>
        <%= markdown_parse @chapter.body %>
      <% end %>
    </div>

    <%= f.text_area :body, id: "markdown" %>

    <hr>

    <%= f.submit t(".save") %>
  </div>
<% end %>
