<% @chapter.errors.full_messages.each do |err| %>
  <%= err %>
<% end %>

<%= form_for [@story, @chapter] do |f| %>
  <div class="editor">
    <%= f.text_field :name, placeholder: t(".chapter_title"), autocomplete: "off" %>

    <%= f.text_area :body, id: "markdown-show" %>

    <hr>

    <%= f.submit t(".save") %>
  </div>
<% end %>
