<%- title t(".chapter_page_title", story_name: @story.name, chapter_name: @chapter.name) %>

<div id="chapter-toolbar-container" class="fd-toolbar-container">
  <div id="chapter-toolbar" class="fd-toolbar">
    <ul id="chapter-toolbar-left" class="fd-toolbar-left">
      <li>
        <%= link_to @story.name, story_path(@story) %>
        <span><%= t(".chapter", chapter_number: @chapter.chap_num) %></span>
      </li>
    </ul>

    <ul id="chapter-toolbar-right" class="fd-toolbar-right">
      <% if current_user == @story.author %>
        <li><%= link_to t(".edit"), edit_story_chapter_path(@story, @chapter) %></li>
        <% if @chapter.published %>
          <li>
          <%= button_to t(".unpublish"), unpublish_story_chapter_path(@story, @chapter), method: :delete, id: "unpublish-chapter-button", data: { confirm: "Are you sure?" } %>
          </li>
        <% else %>
          <li>
          <%= button_to t(".publish"), publish_story_chapter_path(@story, @chapter), method: :post, id: "publish-chapter-button", data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>

        <% if current_user == @story.author %>
          <li><%= link_to t(".add_a_new_chapter"), new_story_chapter_path(@story) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if @chapter.prev_chapter %>
    <div class="fixed-chapter-nav previous-chapter">
      <span class="icon icon-left"></span>
      <%= link_to t(".previous_chapter"), story_chapter_path(@story, @chapter.prev_chapter) %>
    </div>
  <% end %>

  <% if @chapter.next_chapter %>
    <div class="fixed-chapter-nav next-chapter">
      <span class="icon icon-right"></span>
      <%= link_to t(".next_chapter"), story_chapter_path(@story, @chapter.next_chapter) %>
    </div>
  <% end %>
</div>

<article id="chapter-text-container" class="fd-text-container">
  <div class="story-text">

    <h3 class="chapter-title"><%= @chapter.name %></h3>

    <div class="chapter-body">
      <%= markdown_parse @chapter.body %>
    </div>
  </div>

  <div class="story-extra-information">
    <%# Story author %>
    <ul class="author">
      <li class="list-item-header"><%= t(".author") %></li>
      <li><%= link_to @story.author.name, user_path(@story.author) %></li>
    </ul>

    <%# Date of publishing %>
    <ul class="published">
      <li class="list-item-header"><%= t(".published") %></li>
      <li><%= @chapter.created_at.strftime("%B %e, %Y") %></li>
    </ul>
  </div>
</article>
