<div class="story-text">

  <p class="chapter-story-title"><%= link_to @story.name, story_path(@story) %></p>
  <p class="chapter-number">Chapter <%= @chapter.chap_num %></p>
  
  <h3 class="chapter-title"><%= @chapter.name %></h3>

  <ul class="story-options">
    <% if current_user == @story.author %>
      <li><%= link_to "Edit", edit_story_chapter_path(@story, @chapter) %></li>
    <% end %>
  </ul>

  <article class="chapter-body">
    <%= markdown_parse @chapter.body %>
  </article>

</div>
