<%- title t(".chapter_page_title", story_name: @story.name, chapter_name: @chapter.name) %>

<article id="chapter-text-container" class="fd-text-container">

  <h5 class="chapter-story-title"><%= link_to @story.name, story_path(@story) %></h5>
  <h6 class="chapter-number"><%= t(".chapter", chapter_number: @chapter.chap_num) %></h6>

  <div class="story-text">

    <h3 class="chapter-title"><%= @chapter.name %></h3>

    <% if current_user == @story.author %>
      <ul id="chapter-options" class="fd-page-options">
        <li><%= link_to t(".edit"), edit_story_chapter_path(@story, @chapter) %></li>
        <% if @chapter.published %>
          <li>
          <%= button_to t(".unpublish"), unpublish_story_chapter_path(@story, @chapter), method: :delete, id: "unpublish-chapter-button", data: { confirm: "Are you sure?" } %>
          </li>
        <% else %>
          <li>
          <%= button_to t(".publish"), publish_story_chapter_path(@story, @chapter), method: :post, id: "publish-chapter-button", data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="chapter-body">
      <%= markdown_parse @chapter.body %>
    </div>

    <div class="pagination">

      <% unless @chapter.chap_num == 1 %>
        <div class="pagination-left">
          <% @story.chapters.limit(1).offset(@chapter.chap_num - 2).each do |chapter| %>
            <%= link_to t(".previous"), [@story, chapter] %>
          <% end %>
        </div>
      <% end %>

      <% if @story.chapters.count != @chapter.chap_num %>
        <div class="pagination-right">
          <% @story.chapters.limit(1).offset(@chapter.chap_num).each do |chapter| %>
            <%= link_to t(".next"), [@story, chapter] %>
          <% end %>
        </div>
      <% elsif @story.chapters.count == @chapter.chap_num && current_user == @story.author %>
        <div class="pagination-right">
          <%= link_to t(".add_a_new_chapter"), new_story_chapter_path(@story) %>
        </div>
      <% end %>

    </div>

    <hr>

    <div class="chapter-information">
      <%# Story author. %>
      <%# The "html" suffix in the i18n string is so that the link is rendered properly as HTML. %>
      <%# See also: http://stackoverflow.com/questions/2543936/rails-i18n-translating-text-with-links-inside %>
      <p class="chapter-author"><%= t(".written_by_html", author: link_to(@story.author.name, user_path(@story.author)) ) %> </p>

      <%# Date of publishing. %>
      <p class="chapter-published-date"><%= t(".published_on", date: @chapter.created_at.strftime("%B %e, %Y") ) %></p>

    </div>
  </div>

</article>
