<li>
  <h3><%= request.name %></h3>
  <div><%= request.description %></div>
  
  <div><%= request.reason %></div>
  
  <div><%= link_to request.user.name, request.user %></div>

  <% if policy(request).accept? %>
    <%= link_to t(".approve_request"), accept_franchise_creation_request_path(request),
      method: :post %>
    <%= link_to t(".reject_request"), franchise_creation_request_path(request),
      method: :delete %>
  <% end %>
</li>
