<header id="main-header">
  <div class="header-left">

    <div class="header-item">
      <%= link_to root_path do %>
        <p class="fiction-dock-logo logo-header">Fiction Dock</p>
      <% end %>
    </div>

  </div>

  <div class="header-right">
    
    <% if user_signed_in? %>

      <div class="header-item">
        <div id="dark-mode-toggle">
          <span class="octicon octicon-light-bulb"></span>
        </div>
      </div>

      <div class="header-item">
        <div id="create-button">
          <span class="octicon octicon-plus"></span>
          <span class="dropdown-caret"></span>
        </div>

        <div id="create-button-tooltip" class="tooltip" data-showon="#create-button">
          <ul>
            <li><%= link_to "Create new franchise", new_franchise_path %>
            <li><%= link_to "Create new story", new_story_path %>
          </ul>
        </div>
      </div>

      <div class="header-item">
        <%= link_to current_user.name, user_path(current_user) %>
      </div>

      <div class="header-item">
        <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete %>
      </div>

    <% else %>

      <div class="header-item">
        <div id="dark-mode-toggle">
          <span class="octicon octicon-light-bulb"></span>
        </div>
      </div>

      <div class="header-item">
        <%= link_to t(".create_an_account"), new_user_registration_path %>
      </div>

      <div class="header-item">
        <%= link_to t(".sign_in"), new_user_session_path %>
      </div>

    <% end %>

  </div>

</header>
