<header id="main-header">
  <div class="header-left">

    <div class="header-item">
      <%= link_to root_path do %>
        <p class="fiction-dock-logo logo-header">Fiction Dock</p>
      <% end %>
    </div>

    <div class="header-item">
      <div id="browse-button">
        <%= t(".browse") %>
        <span class="dropdown-caret"></span>
      </div>

      <div id="browse-tooltip" class="tooltip" data-showon="#browse-button">
        <ul>
          <li><%= link_to t(".franchises"), franchises_path %>
          <li><%= link_to t(".stories"), stories_path %>
        </ul>
      </div>
    </div>

  </div>

  <div class="header-right">
    
    <% if user_signed_in? %>

      <div class="header-item">
        <div id="dark-mode-toggle">
          <span class="octicon octicon-light-bulb"></span>
        </div>
      </div>

      <div class="header-item">
        <div id="create-button">
          <span class="octicon octicon-plus"></span>
          <span class="dropdown-caret"></span>
        </div>

        <div id="create-tooltip" class="tooltip" data-showon="#create-button">
          <ul>
            <li><%= link_to t(".create_new_franchise"), new_franchise_path %>
            <li><%= link_to t(".create_new_story"), new_story_path %>
          </ul>
        </div>
      </div>

      <div id="username" class="header-item header-item-with-flyout">
        <div class="header-item-title"><%= current_user.name %></div>

        <div class="header-profile-picture">
          
        </div>

        <div id="user-flyout" class="flyout">
          <ul>
            <li><%= link_to t(".profile"), user_path(current_user) %></li>

            <li><%= button_to t(".sign_out"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>

    <% else %>

      <div class="header-item">
        <div id="dark-mode-toggle">
          <span class="octicon octicon-light-bulb"></span>
        </div>
      </div>

      <div class="header-item">
        <%= link_to t(".create_an_account"), new_user_registration_path %>
      </div>

      <div class="header-item">
        <%= link_to t(".sign_in"), new_user_session_path %>
      </div>

    <% end %>

  </div>

  <div id="general-info" class="header-item header-item-with-flyout">
    <div class="header-item-title"><span class="octicon octicon-light-bulb"></span></div>

    <div id="general-info-flyout" class="flyout">
      <ul>
        <li><%= link_to t(".about"), "#" %></li>
        <li><%= link_to t(".faq"), "#" %></li>
        <li><%= link_to t(".blog"), "#" %></li>
        <!-- <li><%= link_to t(".terms_and_conditions"), "#" %></li> -->
        <!-- <li><%= link_to t(".privacy_policy"), "#" %></li> -->
      </ul>
    </div>

  </div>

</header>
