<!DOCTYPE html>
<html>
<head>

  <%# UTF-8 Character Set %>
  <meta charset="utf-8">

  <%# If a title is given in a view, that title is used, with "- Fiction Dock" appended. Otherwise, just "Fiction Dock" is used. %>
  <title><%= content_for?(:title) ? content_for(:title) + " - Fiction Dock" : t(".fiction_dock_title") %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :defer => true %>
  <%= csrf_meta_tags %>
  
  <%# Google Analytics %>
  <% if Rails.env == "production"  %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= Rails.configuration.google_analytics_key %>', 'auto');
    ga('send', 'pageview');
    </script>
  <% end %>

  <%# Favicon %>
  <%# 32px and 64px favicons, just in case someone is using some absurdly old browser. %>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png"/>
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png"/>
  
  <%# For iPhone with high-resolution Retina display running iOS ≥ 7. %>
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
  
  <%# For iPad retina and general Android device compatibility. %>
  <link rel="apple-touch-icon" href="/favicon-152.png">

  <%# Makes the site capable of running as if it was an official app on Android and iOS. %>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%# Proper application name for "Add to Homescreen" %>
  <meta name="application-name" content="Fiction Dock" />
  <meta name="apple-mobile-web-app-title" content="Fiction Dock">

  <%# Viewport meta tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <%# Theme Color for Chrome on Android, the Google app on iOS, etc. %>
  <meta name="theme-color" content="#333333">

  <%# Description for search engine results, e.g. Google and DuckDuckGo. %>
  <meta name="description" content="<%= t(".fan_fiction_needed_a_better_place_to_call_home") %>">

  <style>
    @font-face {
      font-family: 'fiction-dock-logo';
      src: url( <%= font_path("fictiondock.ttf") %> ) format('truetype');
      src: url( <%= font_path("fictiondock.woff2") %> ) format('woff2');
      src: url( <%= font_path("fictiondock.woff") %> ) format('woff');
      font-weight: normal;
      font-style: normal;
    }
  </style>

</head>
<body <% if user_signed_in? %>class="signed-in"<% end %>>

  <%= render 'layouts/header' %>
  <% if notice %>
    <div class="alert alert-success">
      <span class="icon icon-check"></span>
      <p><%= notice %></p>
      <div id="alert-close"><span class="icon icon-close"></span></div>
    </div>
  <% elsif info %>
    <div class="alert alert-info">
      <span class="icon icon-info"></span>
      <p><%= info %></p>
      <div id="alert-close"><span class="icon icon-close"></span></div>
    </div>
  <% elsif alert %>
    <div class="alert alert-danger">
      <span class="icon icon-danger"></span>
      <p><%= alert %></p>
      <div id="alert-close"><span class="icon icon-close"></span></div>
    </div>
  <% elsif warning %>
    <div class="alert alert-warning">
      <span class="icon icon-warning"></span>
      <p><%= warning %></p>
      <div id="alert-close"><span class="icon icon-close"></span></div>
    </div>
  <% end %>

  <div id="masthead">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</body>

<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext', 'data-turbolinks-track' => true %>
</html>
